services:
  db:
    image: postgres:16-bookworm
    container_name: postgres
    restart: unless-stopped
    ports:
      # 물리 서버와 포트 연결
      - "5432:5432"
    environment:
      # 초기 비번은 0000
      POSTGRES_PASSWORD: "0000"
    volumes:
      # 데이터는 볼륨으로 관리
      - /srv/pgdata:/var/lib/postgresql/data
      # 설정 파일은 이렇게 하면 주입(ro: reay only)되는데, 권한문제가 발생하면 configs 로 돌려.
      - ./postgresql.conf:/etc/postgresql/postgresql.conf:ro
      - ./pg_hba.conf:/etc/postgresql/pg_hba.conf:ro
    # configs:
      # 설정 파일은 configs로 관리
      # - source: pg_conf
      #   target: /etc/postgresql/postgresql.conf
      # - source: pg_hba
      #   target: /etc/postgresql/pg_hba.conf
    command: [
      "postgres",
      "-c", "config_file=/etc/postgresql/postgresql.conf",
      "-c", "hba_file=/etc/postgresql/pg_hba.conf"
    ]
    # 공유메모리 : 도커의 기본값(64Mb)이 너무 작음. shared_buffers 의 2배로 잡아 명시
    shm_size: '512mb'
    deploy:
      resources:
        limits:
          # cpu 코어 사용값: 1.5 = 코어 1개 + 나머지 한 개는 50%
          cpus: '1.5'
          # 물리 램 최대 점유: 넘치면 도커가 강제종료 해버림
          memory: 1G
        reservations:
          # 물리 램 최소 점유: shared_buffers 의 2배로 잡아서 명시
          memory: 512M


# 최하단에 실제 파일 위치를 알려주는 configs 정의
# configs:
#   pg_conf:
#     file: ./postgresql.conf
#   pg_hba:
#     file: ./pg_hba.conf

